<form class="form-login" ng-submit="processForm()">
    <h4 class="form-login-heading">{{'PLEASE_SIGNUP' | translate}}</h4>

    <label for="name" class="sr-only">{{'NAME' | translate}}</label>
    <input type="name" name="name" id="name" class="form-control" placeholder="{{'NAME' | translate}}"
            required title="{{'NAME' | translate}}" ng-model="formData.name" />

    <label for="email" class="sr-only">{{'EMAIL' | translate}}</label>
    <input type="email" name="email" id="email" class="form-control" placeholder="{{'EMAIL' | translate}}"
            required title="{{'EMAIL' | translate}}" ng-model="formData.email" />

    <label for="password" class="sr-only">{{'NEW_PASSWORD' | translate}}</label>
    <input type="password" name="password" id="password" class="form-control" placeholder="{{'NEW_PASSWORD' | translate}}"
            required title="{{'NEW_PASSWORD' | translate}}" ng-model="formData.password" />

    <button class="btn btn-lg btn-block blue" type="submit" ng-disabled="isProcessing">{{'SIGNUP' | translate}}</button>
    <a ui-sref="signin">{{'SIGNIN' | translate}}</a>
</form>
<div ng-include="'/templates/common/messageHandling.html'"></div>
