<nav class="navbar navbar-default  navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="offers">
                Flights App
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul ng-hide="isAdmin" class="nav navbar-nav">
                <li ng-class="{ active: isActive('/offers')}">
                    <a ui-sref="offers">{{'AVAILABLE_OFFERS' | translate}}</a>
                </li>
            </ul>

            <ul ng-show="isAdmin" class="nav navbar-nav">
                <li ng-class="{ active: isActive('/users')}">
                    <a ui-sref="users">{{'USER_LIST' | translate}}</a>
                </li>
            </ul>

            <ul ng-show="isAdmin" class="nav navbar-nav">
                <li ng-class="{ active: isActive('/purchased_tickets')}">
                    <a ui-sref="purchased_tickets">{{'PURCHASED_TICKETS' | translate}}</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a ui-sref="logout">{{'LOGOUT' | translate}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
