.form-login {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

h4.form-login-heading {
  margin-top: 30px;
}

.form-login .form-login-heading,
.form-login .checkbox {
    margin-bottom: 10px;
}

.form-login .checkbox {
    font-weight: normal;
}

.form-login .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-login .form-control:focus {
    z-index: 2;
}

.form-login input {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login button {
    margin-top: 10px;
}

img.logo {
    margin-left: 40px;
    width: 220px;
    height: 120px;
    margin-bottom: 20px;
}

img.welcome_image {
    margin-top: 40px;
    margin-bottom: 0px;
}

img.loading {
    position: fixed;
    left: 50%;
}

a.to_right {
    float: right;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 4.5em;
    text-align: center;
    margin-bottom: 50px;
}

@keyframes move {
    to {
        transform: scale(1.5)
    }
}

button.orange {
    background-color: #BD2846;
    color: white;
}

button.orange:hover {
    color: white;
    font-weight: bold;
}

button.blue {
    background-color: #003462;
    color: white;
}

button.blue:hover {
    color: white;
    font-weight: bold;
}
